* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.curriculum {
    display: flex;
    margin: 40px 0;
    height: 90vh;
}

.profile {
    color: white;
}

.profile img {
    width: 80%;
    border: 5px solid white;
    border-radius: 50%;
}

.profile h1 {
    font-size: 32px;
    font-weight: 700;
}

.profile p {
    font-size: 24px;
    font-weight: 300;
}

.item-nav{
    color: whitesmoke;
    display: flex;
    font-size: 24px;
    gap: 15px;
    text-decoration: none;
    transition: 0.5s;
}

.item-nav:hover {
    background-color: var(--bs-info-text);
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
    width: 100%;
}

.about h3 {
    font-size: 32px;
    font-weight: 600;
}

.about p {
    font-size: 18px;
    font-weight: 300;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    width: 100%;
    gap: 20px;
}

.contact .datos-contacto p {
    color: grey;
    font-size: 1.4rem;
}

.contact .datos-contacto a {
    color: whitesmoke;
    text-decoration: none;
}

.contact .datos-contacto a h2 {
    font-weight: 400;
}

.contact ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 3rem;
    list-style: none;
}

.contact ul li {
    color: grey;
    transition: 0.5s;
}

.contact ul li:hover {
    color: var(--bs-gray-200);
    font-size: 3.5rem;
}

.experiencia .item-exp h3{
    color: grey;
    font-size: 32px;
    font-weight: bold;
}

.experiencia .item-exp p {
    color: gray;
    font-size: 18px;
}

.habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.habilidades h3 {
    color: grey;
    font-size: 32px;
    font-weight: bold;
}

.habilidades ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 3rem;
    list-style: none;
}

.habilidades ul li {
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

.habilidades ul li p {
    font-size: 1rem;
    font-weight: 400;
}

.habilidades ul li:hover {
    color: var(--bs-gray-200);
    font-size: 3.5rem;
}